@media only screen and (min-width: 60rem) {
    body {
        font-size: 16px;
    }

    img {
        width: 150px;
    }

    .contentItem {
        background-image: linear-gradient(#85fffd, #d8d8d8);
    }

    .wSummary {
        font-size: .9rem;
    }

    .wSummary p {
        margin: .3rem;
    }

}