body {
    font-size: 16px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    background-image: radial-gradient(#ffffff, #adadad);
}

nav {
    text-align: center;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #0a0a0a;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
    border-radius: 1rem;
}

nav a:hover {
    background-color: #5500ff;
    color: #ffffff;
}

main,
footer {
    margin: 0 auto;
}

header {
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin: 0 auto;
    color: #5500ff;
    background-image: radial-gradient(#ffffff, #adadad);
    border-radius: 0 0 .7rem .7rem;
}

.tooMuch {
    padding: 1rem;
}

header h1,
header p {
    text-align: center;
    padding: 2rem;
}

h1,
h2 {
    font-family: 'Raleway', Helvetica, sans-serif;
}

.primary {
    background-color: #ffffff;
}

.secondary {
    background-color: #0a0a0a;
    color: #ffffff;
}

.accent1 {
    background-color: #adadad;
}

.accent2 {
    background-color: #5500ff;
    color: #ffffff;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
}

.logo {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.colors {
    margin-bottom: 5rem;
    text-align: center;
}

section {
    text-align: justify;
    padding: 1rem;
}

.first {
    margin-top: 2rem;
}

.target {
    margin-bottom: .5rem;
}

.scen {
    margin-top: 0;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 14px;
    background-color: #adadad;
    border-radius: .7rem .7rem 0 0;
}

footer a {
    text-decoration: none;
    color: black;
    padding: .35rem;
}

footer a:hover {
    background-color: #5500ff;
    color: #ffffff;
    border-radius: .5rem;
}

section {
    background-image: radial-gradient(#ffffff, #adadad);
    border-radius: .7rem;
}

.downLil {
    margin-top: 2rem;
}