@media only screen and (min-width: 32.5em) {
.self {
    float: right;
    margin: 1rem;
    border-radius: .7rem;
    box-shadow: 3px 3px 6px .5px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

header {
    border-radius: 0 0 .7rem .7rem;
}

footer {
    border-radius: .7rem .7rem 0 0;
}
}