
body {
    font-size: 16px;
    font-family: 'Nunito', Helvetica, sans-serif;
    background-color: antiquewhite;
    margin-top: 1.5rem;
}

header,
main,
footer {
    max-width: 600px;
    margin: 0 auto;
}

header,
footer {
    background-color: olive;
}

header {
    padding-top: .3rem;
    padding-bottom: .3rem;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}

footer {
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    font-size: 14px;
    color: wheat;
}

#lastMod {
    color: white;
}

h1 {
    margin: 2rem;
    color: lavender;
    font-size: 1.7rem;
}

h2,
ul {
    margin: 2rem;
    font-size: 1rem;
}

.self {
    width: 150px;
    height: auto;
    margin-left: 3.9rem;
}

footer a {
    color: wheat;
}

