body {
    font-size: 16px;
    background-image: linear-gradient(#ffffff, #b9b9b9);
    font-family: 'Nunito', Helvetica, sans-serif;
    text-align: center;
}

header {
    background-color: darkslategray;
    color: white;
    max-width: 980px;
    margin: 0 auto;
    padding-bottom: .5rem;
    margin-bottom: .7rem;
    border-radius: 0 0 .7rem .7rem;
}

header p {
    font-size: 20px;
}

.wrapper {
    display: grid;
    grid-gap: .7rem;
}

.descr {
    text-align: justify;
}

main,
footer {
    max-width: 930px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

article {
    background-image: linear-gradient(#b9b9b9, white);
    padding: 1rem;
    border-radius: .5rem;
}

article a {
    color: black;
}

footer {
    margin-top: .7rem;
    background-color: darkslategray;
    color: #ffffff;
    padding: 2rem;
    border-radius: .7rem .7rem 0 0;
}

footer a {
    color: white;
}